.vscode/**
.tools/**
.env
.env.*
src/**
out/test/**
out/**/*.map
scripts/**
test-workspace/**
dist/**
node_modules/**
!node_modules/@vscode/python-environments/out/**
!node_modules/@vscode/python-environments/package.json
!node_modules/@vscode/python-environments/LICENSE.md
tsconfig.json
package-lock.json
.gitignore
.github/**
PUBLISHING.md
